{% extends "base.html" %}

{% block content %}
<h2 class="text-center">ยินดีต้อนรับสู่ร้านคอมพิวเตอร์มือสอง</h2>
<p class="text-center text-muted">เราจำหน่ายสินค้าคุณภาพ ราคาประหยัด พร้อมรับประกัน</p>

<h2 class="text-center mb-4 mt-5">สินค้าคอม DIY แยกชิ้น</h2>

{% for category, items in grouped_products.items() %}
  <h3 class="text-primary">{{ category }}</h3>
  <div class="row">
    {% for product in items %}
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="{{ url_for('static', filename='images/' ~ product.image) }}" class="card-img-top">
        <div class="card-body">
          <h5>{{ product.name }}</h5>
          <p>{{ product.description }}</p>
          <p><strong>{{ product.price }} บาท</strong></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endfor %}

{% endblock %}
